= form_for @building do |f|
  = error_messages_for @building
  .row
    .col-md-6
      .form-group
        = f.label :pos_x
        %small
          (Информация вводится через пробел)
        = f.text_field :pos_x, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :pos_y
        %small
          (Информация вводится через пробел)
        = f.text_field :pos_y, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :information
        = f.text_field :information, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.submit 'Сохранить', class: 'btn btn-primary'
