%h1 Listing buildings

%table
  %thead
    %tr
      %th Pos x
      %th Pos y
      %th Tags
      %th Information
      %th
      %th
      %th

  %tbody
    - @buildings.each do |building|
      %tr
        %td= building.pos_x
        %td= building.pos_y
        %td= building.tags
        %td= building.information
        %td= link_to 'Show', building
        %td= link_to 'Edit', edit_building_path(building)
        %td= link_to 'Destroy', building, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Building', new_building_path
