%p#notice= notice

%p
  %b Pos x:
  = @floor.pos_x
%p
  %b Pos y:
  = @floor.pos_y
%p
  %b Tags:
  = @floor.tags
%p
  %b Information:
  = @floor.information

= link_to 'Изменить', edit_floor_path(@floor)
\|
= link_to 'Назад', floors_path
