%h1 Кабинеты

%table
  %thead
    %tr
      %th Координаты оси X
      %th Координаты оси Y
      %th Информация
      %th
      %th
      %th

  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.pos_x
        %td= room.pos_y
        %td= room.information
        %td= link_to 'Показать', room
        %td= link_to 'Изменить', edit_room_path(room)
        %td= link_to 'Удалить', room, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }

%br

= link_to 'Новый кабинет', new_room_path
