%p#notice= notice

%p
  %b Pos x:
  = @room.pos_x
%p
  %b Pos y:
  = @room.pos_y
%p
  %b Tags:
  = @room.tags
%p
  %b Information:
  = @room.information

= link_to 'Изменить', edit_room_path(@room)
\|
= link_to 'Назад', rooms_path
