%p#notice= notice

%p
  %b Name:
  = @role.name
%p
  %b Shortname:
  = @role.shortname
%p
  %b Englishname:
  = @role.englishname

= link_to 'Edit', edit_role_path(@role)
\|
= link_to 'Back', roles_path
