%h1 Территория

%table
  %thead
    %tr
      %th Pos x
      %th Pos y
      %th Tags
      %th Information
      %th
      %th
      %th

  %tbody
    - @territories.each do |territory|
      %tr
        %td= territory.pos_x
        %td= territory.pos_y
        %td= territory.tags
        %td= territory.information
        %td= link_to 'Показать', territory
        %td= link_to 'Изменить', edit_territory_path(territory)
        %td= link_to 'Удалить', territory, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }

%br

= link_to 'Новая территория', new_territory_path
