%p#notice= notice

%p
  %b Pos x:
  = @territory.pos_x
%p
  %b Pos y:
  = @territory.pos_y
%p
  %b Information:
  = @territory.information

= link_to 'Изменить', edit_territory_path(@territory)
\|
= link_to 'Назад', territories_path
