= form_for @worker do |f|
  = error_messages_for @worker
  .row
    .col-md-4
      .form-group
        = f.label :Фамилия
        = f.text_area :last_name, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :Имя
        = f.text_area :first_name, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :Отчество
        = f.text_area :second_name, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :Должность
        = f.text_area :post, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :Телефон
        = f.text_field :phone, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :Почта
        = f.text_field :mail, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :Обязанности
        = f.text_area :duty, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :Фотография
        = f.text_area :avatar, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.submit 'Сохранить', class: 'btn btn-primary'
