%p#notice= notice

%p
  %b First name:
  = @worker.first_name
%p
  %b Second name:
  = @worker.second_name
%p
  %b Last name:
  = @worker.last_name
%p
  %b Post:
  = @worker.post
%p
  %b Phone:
  = @worker.phone
%p
  %b Mail:
  = @worker.mail
%p
  %b Duty:
  = @worker.duty
%p
  %b Avatar:
  = image_tag @worker.avatar.url
 


= link_to 'Изменить', edit_worker_path(@worker)
\|
= link_to 'Назад', workers_path
